{{>layouts/header}}

<table class="table">
    <thead class="thead-light">
    <tr>
        <th scope="col">#</th>
        <th scope="col">제목</th>
        <th scope="col">작성자</th>
        <th scope="col">작성시간</th>
    </tr>
    </thead>
    {{#articleList}}
        <tbody>
        <tr>
            <th scope="row">{{id}}</th>
            <td><a href="/articles/{{id}}">{{title}}</a></td>
            <td>{{author}}</td>
            <td>{{content}}</td>
        </tr>
        </tbody>
    {{/articleList}}
</table>
<a href="/articles/new" class="btn btn-primary">새 글 작성</a>

{{>layouts/footer}}