{{>layouts/header}}
<form class="container" action="/articles" method="post">
    <div class="mb-3">
        <label for="Title" class="form-label">제목</label>
        <input type="text" class="form-control" id="title" name="title" placeholder="제목을 입력하세요.">
    </div>
    <div class="mb-3">
        <label for="content" class="form-label">내용</label>
        <textarea class="form-control" id="content" rows="3" name="content" placeholder="내용을 입력하세요."></textarea>
    </div>
    <button type="submit" class="btn btn-primary">작성</button>
    <a href="/articles/" class="btn btn-primary">취소</a>
</form>
{{>layouts/footer}}