{{>layouts/header}}
{{#article}}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{title}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{id}}</h6>
            <p class="card-text">{{content}}</p>
            <a href="/articles/new" class="card-link">새 글 작성</a>
            <a href="/articles" class="card-link">글 목록</a>
        </div>

    </div>
    <a href="/articles/{{id}}/edit" class="btn btn-primary">수정</a>
    <a href="/articles/{{id}}/delete" class="btn btn-danger">삭제</a>
{{/article}}
{{>layouts/footer}}

